<div class="container" id="mainContent">
		<div class="row">
		<div class="col-sm-6">
			<a class="document-link" href="#"><span class="glyphicon glyphicon-file"></span> MRL Desktop V2.4</a>
		</div>
		<div class="col-sm-6 milestoneCol">
			<span class="dl-label">Milestones</span>
			<dl class="milestoneList">
				<dt>A</dt>
				<dd>MRL 5</dd>
				<dt>B</dt>
				<dd>MRL 7</dd>
				<dt>C</dt>
				<dd>MRL 9</dd>
			</dl>

		</div>
		</div>

	<div class="criteria-filter-head">
		<div class="filter-top">
		<div class="row">
			<div class="col-xs-12">
				<button class="criteria-controls filter-button collapsed" data-toggle="collapse" data-target="#collapseFilter">Filter</button>
					<!-- <div class="expand-controls pull-right">
			<a href="javascript:void(0)" class="criteria-controls expand-all"><span class="glyphicon glyphicon-collapse-down"></span> Expand all</a>
			<a href="javascript:void(0)" class="criteria-controls collapse-all"><span class="glyphicon glyphicon-collapse-up"></span> Collapse all</a>
			</div> -->
			</div>

		</div>
		</div>
		<div class="criteria-filter-container collapse" id="collapseFilter">
		<!-- <div class="filter-block">
		<div class="row">
			<div class="col-xs-12">
			<div class="filter-label">Filter by Thread</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Technology Maturity
				    </label>
				  </div>
				  <div class="checkbox">
				      <label>
				        <input type="checkbox"> Technology &amp; Industrial Base
				      </label>
				    </div>
				    <div class="checkbox">
				        <label>
				          <input type="checkbox"> Design
				        </label>
				      </div>
			</div>

			<div class="col-sm-3">
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Technology Maturity
				    </label>
				  </div>
				  <div class="checkbox">
				      <label>
				        <input type="checkbox"> Technology &amp; Industrial Base
				      </label>
				    </div>
				    <div class="checkbox">
				        <label>
				          <input type="checkbox"> Design
				        </label>
				      </div>
			</div>

			<div class="col-sm-3">
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Technology Maturity
				    </label>
				  </div>
				  <div class="checkbox">
				      <label>
				        <input type="checkbox"> Technology &amp; Industrial Base
				      </label>
				    </div>
				    <div class="checkbox">
				        <label>
				          <input type="checkbox"> Design
				        </label>
				      </div>
			</div>

			<div class="col-sm-3">
				<div class="checkbox">
				    <label>
				      <input type="checkbox"> Manufacturing Management
				    </label>
				  </div>
				 </div>
			</div>
		</div> -->
		<div class="filter-block form-inline">
		<div class="row ">

		<div class="col-xs-12">
		<div class="filter-label">Filter by MRL</div>
      <div class="checkbox">
        <label><input type="checkbox" ng-init='mrl_all=true' ng-model='mrl_all'>All</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_0'>1</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_1'>2</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_2'>3</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_3'>4</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_4'>5</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_5'>6</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_6'>7</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_7'>8</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_8'>9</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-checked='mrl_all' ng-model='mrl_9'>10</label>
      </div>
		</div>
		</div>
		</div>
		</div>
	</div>
	<div class="criteria-list">
      {{#each mraOutputs.threads}}
		 <div class="navigation-group">
			      <h4 class="group-title">
			        <button role="button" data-toggle="collapse" data-target="#collapseThread{{@index}}" aria-expanded="true" aria-controls="collapseThread{{@index}}" class="collapse-item collapsed">
			          {{name}}
			        </button>
			      </h4>

			    <ul id="collapseThread{{@index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            {{#each subThreads}}
			     <li>
			     	<button role="button" data-toggle="collapse" data-target="#collapseSubThread_{{@../index}}_{{@index}}" aria-expanded="true" aria-controls="collapseSubThread_{{@../index}}_{{@index}}" class="collapse-item collapsed">
			     	  {{name}}
			     	</button>
			     	<dl id="collapseSubThread_{{@../index}}_{{@index}}" class="collapse">
              {{#each subThreadLevels}}
                {{#if criteriaText}}
    							<dt level-id="mrl_{{@index}}">MRL {{mrlLevel}}</dt>
    							<dd level-id="mrl_{{@index}}">{{{criteriaText}}}</dd>
                {{/if}}
              {{/each}}
			     	</dl>
			     	<!-- <ul id="collapseTwo" class="collapse">
							<li><a role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="collapse-item collapsed">
			     	  Technology Transition to Production
			     	</a>
							<ul id="collapseThree" class="collapse">
								<li><a href="#">Question 1</a></li>

								<li><a href="#">Question 2</a></li>

								<li><a href="#">Question 3</a></li>

								<li><a href="#">Question 4</a></li>

							</ul>
			     	</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
			     	</ul> -->
			     	</li>
            {{/each}}
			    </ul>

			 </div>
       {{/each}}

	</div>

  <input type='hidden' id='inputPage' value='criteriaPage'>

<script type="text/javascript">
  $(document).ready(function() {

      var checkBoxes = document.querySelectorAll('input[ng-model*=mrl_]');
      var tds = document.querySelectorAll('[level-id*=mrl_]');

      for (var i=0; i<checkBoxes.length; i++) {
        var checkBox = checkBoxes[i];

        var ngModel = checkBox.getAttribute('ng-model');

        if (ngModel == 'mrl_all') {
            checkBox.addEventListener("click", allClicked);
        } else {
            checkBox.addEventListener("click", singleLevelClicked);
        };

      };

      function allClicked(event) {


          if (!event.target.checked) {

              for (var j=0; j<tds.length; j++) {
                var td = tds[j];
                td.style.display = "none";
              };

          } else {

              for (var j=0; j<tds.length; j++) {
                var td = tds[j];
                td.style.display = "";
                td.checked = true;
              };

              for (var k=0; k<checkBoxes.length; k++) {
                var box = checkBoxes[k];
                box.checked = true;
              };

          };

      };

  });

  function singleLevelClicked(event) {


      var allCheckbox = document.querySelector('[ng-model=mrl_all]');
      allCheckbox.checked = false;

      var clickedLevel = this.getAttribute('ng-model');
      var levelTDs = document.querySelectorAll('[level-id=' + clickedLevel + ']');
      var clickedOn = event.target.checked;

      for (l=0; l<levelTDs.length; l++) {
        var box = levelTDs[l];
        changeDisplay(box, clickedOn);
      };

  };

  function changeDisplay(element, on) {
      if (!on) {
          element.style.display = "none"
      } else {
          element.style.display = ""
      };
  }
</script>
