
	<div class="container" id="mainContent">
	<div class="row">
	<div class="col-xs-12">
		<a href="#" class="visible-xs pull-left btn-link" onclick="$('.collapse', '.navigation-group').each(function(){$(this).collapse()});"><span class="glyphicon glyphicon glyphicon-collapse-down"></span> Expand All</a>
		<a href id='saveAsImage' class="pull-right btn-link"><span class="glyphicon glyphicon-save"></span> Save as Image</a>
	</div>
	</div>
<div class="full-table hidden-xs table-responsive">

	<table class="table progress-table ">
	<thead>
	<tr >
	<th></th>
	<th>1</th>
	<th>2</th>
	<th>3</th>
	<th>4</th>
	<th>5</th>
	<th>6</th>
	<th>7</th>
	<th>8</th>
	<th>9</th>
	<th>10</th>
	<th>Completion Date</th>
	</tr>
</thead>
		{{#each mraOutputs.threadStatus}}
		<tr>
		<th colspan="12"><h3>{{threadName}}</h3></th>
		</tr>
    {{#each subThreads}}
		<tr>
					<td>{{subThreadName}}</td>

          {{#each statuses}}
						<td>
              <span class="indicator" ng-show='{{this}}==0'></span>
              <span class="indicator correct" ng-show='{{this}}==1'>&#x2713;</span>
              <span class="indicator incorrect" ng-show='{{this}}==2'>&#x2713;</span>
              <span class="indicator incomplete" ng-show='{{this}}==3'></span>
						</td>
          {{/each}}

					<td>{{date}}</td>
				</tr>
        {{/each}}

      {{/each}}
	</table>
	</div>

	<div class="mobile-cards visible-xs">

		<div class="row">
		<div class="col-xs-12">
      {{#each mraOutputs.threadStatus}}
			 <div class="navigation-group">
				      <h4 class="group-title">
				        <a role="button" data-toggle="collapse" href="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}" class="collapse-item collapsed">
				          {{threadName}}
				        </a>
				      </h4>
				    <div id="collapse{{@index}}" class="collapse navigation-content">
				    {{#each subThreads}}
				    <h3>{{subThreadName}}</h3>
							<time datetime="2011-01-12">{{date}}</time>
				    	<table class="table table-responsive progress-table">
				    		<thead>
				    			<tr>
				    				<th>1</th>
				    				<th>2</th>
				    				<th>3</th>
				    				<th>4</th>
				    				<th>5</th>
				    				<th>6</th>
				    				<th>7</th>
				    				<th>8</th>
				    				<th>9</th>
				    				<th>10</th>
				    			</tr>
				    		</thead>
				    		<tbody>
				    			<tr>
										{{#each statuses}}
											<td>
												<span class="indicator" ng-show='{{this}}==0'></span>
												<span class="indicator correct" ng-show='{{this}}==1'></span>
												<span class="indicator incorrect" ng-show='{{this}}==2'></span>
												<span class="indicator incomplete" ng-show='{{this}}==3'></span>
											</td>
										{{/each}}
				    			</tr>
				    		</tbody>
				    	</table>
				    {{/each}}
				    </div>

		</div>
    {{/each}}
		</div>


	</div>

		</div>
		<div class="row">

			<div class="col-xs-12 dashboard-controls">
				<button class="btn btn-primary">Action Items</button>
				<button class="btn btn-primary">Not Applicable Items</button>
				<button class="btn btn-primary">Skipped Items</button>

			</div>
		</div>

  <input type='hidden' id='inputPage' value='dashboardPage'>
  <div id="img-out"></div>

</body>
</html>

<script>
  $( document ).ready(function() {

    var saveButton = document.getElementById('saveAsImage');

    saveButton.addEventListener('click', function() {

      html2canvas($("#dashboardtable"), {
        onrendered: function(canvas) {
          theCanvas = canvas;
          canvas.id = 'dashCanvas';
          canvas.style.display = 'none';
          var imgDiv = document.querySelector('#img-out');
          imgDiv.appendChild(canvas);

          promptSaveFile(canvas);

        }
      });

    });

    function promptSaveFile(canvas) {

      try {
        window.navigator.msSaveBlob(canvas.msToBlob(), "MRAdashboard.png");
      } catch(err) {
        canvas.toBlob(function(blob) {
          blobUrl = window.URL.createObjectURL(blob);
          imgLink = createHiddenDownloadLink(blobUrl);
          imgLink.click();
        });
      };

    };

    function createHiddenDownloadLink(blobUrl) {
      var imgLink = document.createElement("a");
      imgLink.download = "MRAdashboard.png";
      imgLink.href = blobUrl;
      imgLink.style.display = 'none';
      document.querySelector('#img-out').appendChild(imgLink);

      return imgLink;
    };
  });
</script>
