<div class='container-fluid'>
  <div class="mra_panel">
    <div class="mra_page_title">
      <h2>Dashboard</h2>
      <hr>
    </div>
    <div class='question' align='center'>
  		{{assessment.scope}}
  </div>
    <div align='center'>
      <table id='dashboardtable' class='table table-responsive' style='max-width:85%; background: #f5f5f5;' align='center'>
      <th align='center'>Thread</th><th>Sub Thread</th>
        <th class="t-centered">1</th>
        <th class="t-centered">2</th>
        <th class="t-centered">3</th>
        <th class="t-centered">4</th>
        <th class="t-centered">5</th>
        <th class="t-centered">6</th>
        <th class="t-centered">7</th>
        <th class="t-centered">8</th>
        <th class="t-centered">9</th>
        <th class="t-centered">10</th>
        <th>Completion Date</th>
      {{#each threadStatus}}
          <tr class="dash"><td class="dash">{{threadName}}</td><td class="dash">{{subThreadName}}</td>
            {{#each statuses}}
              <td class="dash t-centered" ng-show='{{this}}==0' style='background-color:#cfd8dc'></td>
              <td class="dash t-centered" ng-show='{{this}}==1' style='background-color:#77c577; font-size: 1.6em;'>&#x2713;</td>
              <!-- <td class="dash" ng-show='{{this}}==2' style='background-color:red'><span class='glyphicon glyphicon-remove'></span></td> -->
              <td class="dash t-centered" ng-show='{{this}}==2' style='background-color:#c57777; font-size: 1.8em;'>&#x2715;</td>
              <td class="dash t-centered" ng-show='{{this}}==3' style='background-color:#779dc5'>&#x2796;</td>
            {{/each}}
            <td class="dash">{{date}}</td>
            </tr>
      {{/each}}
      </table>
    </div>
    <br>
    <br>
    <div align='center'>
      <a href onclick='$("#functionToCall").val("getMmpPage")' ng-click='run()'><button class="btn btn-primary buttonRounded" style='margin:10px'>Action Items</button></a>
      <a href onclick='$("#functionToCall").val("getNotApplicablePage")' ng-click='run()'><button class="btn btn-primary buttonRounded" style='margin:10px'>Not Applicable Items</button></a>
      <a href onclick='$("#functionToCall").val("getSkippedPage")' ng-click='run()'><button class="btn btn-primary buttonRounded" style='margin:10px'>Skipped Items</button></a>
      <a href id='saveAsImage'><button class="btn btn-primary" style='margin:10px'>Save as image</button></a>
    </div>
    <input type='hidden' id='inputPage' value='dashboardPage'>
  </div>

  <div id="img-out">

  </div>
</div>

<script>
  $( document ).ready(function() {

    var saveButton = document.getElementById('saveAsImage');

    saveButton.addEventListener('click', function() {

      html2canvas($("#dashboardtable"), {
        onrendered: function(canvas) {
          theCanvas = canvas;
          canvas.id = 'dashCanvas';
          canvas.style.display = 'none';
          var imgDiv = document.querySelector('#img-out');
          imgDiv.appendChild(canvas);

          promptSaveFile(canvas);

        }
      });

    });

    function promptSaveFile(canvas) {

      try {
        window.navigator.msSaveBlob(canvas.msToBlob(), "MRAdashboard.png");
      } catch(err) {
        canvas.toBlob(function(blob) {
          blobUrl = window.URL.createObjectURL(blob);
          imgLink = createHiddenDownloadLink(blobUrl);
          imgLink.click();
        });
      };

    };

    function createHiddenDownloadLink(blobUrl) {
      var imgLink = document.createElement("a");
      imgLink.download = "MRAdashboard.png";
      imgLink.href = blobUrl;
      imgLink.style.display = 'none';
      document.querySelector('#img-out').appendChild(imgLink);

      return imgLink;
    };
  });
</script>
