<header id="subheader">
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
    <ol class="breadcrumb">
      <li class="active">{{mraOutputs.pageTitle}}</li>
    </ol>
    <span class="collapse-link visible-xs xs-expand-link" data-toggle="collapse" data-target="#subheader-collapseable" aria-expanded="false" aria-controls="subheader-collapseable"><span class="glyphicon glyphicon-triangle-bottom"></span></span>
    </div>

    {{#if mraOutputs.assessment.targetLevel}}
      <div class="col-sm-6 hidden-xs">
        <div class="row">
        <div class="col-xs-12 meta">
                  Target MRL: {{mraOutputs.assessment.targetLevel}} <span class="text-divider">|</span>Target Date: {{mraOutputs.assessment.targetDate}}
                </div>
        </div>

      </div>
    {{/if}}
  </div>


  {{#if mraOutputs.assessment.targetLevel}}
    <div class="collapse"  id="subheader-collapseable">
    <div class="row visible-xs">
      <div class="col-xs-12">
          Target MRL: {{mraOutputs.assessment.targetLevel}}<span class="text-divider">|</span>Target Date: {{mraOutputs.assessment.targetDate}}
      </div>
    </div>
    </div>
  {{/if}}

  </div>
</header>


<div class="container" id="mainContent">
    {{#each mraOutputs.navigation}}
        <div class="row">
            <div class="col-xs-12">
                <h4>{{thread}}</h4>
            </div>
        </div>
        <div class="groupContent">
            {{#each questions}}
                <div class="row">
                    <div class="col-sm-3">Level {{mrlLevel}}</div>
                    <div class="col-sm-9"><a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a></div>
                </div>
            {{/each}}
        </div>
    {{/each}}
    {{#unless mraOutputs.navigation}}
      <div class="row">
        <div class="col-xs-12">
          <h4>None</h4>
        </div>
      </div>
    {{/unless}}
    <input type='hidden' id='navThreadId' value='0'>
    <input type='hidden' id='navSubThreadId' value='0'>
    <input type='hidden' id='navSubThreadLevelId' value='0'>
    <input type='hidden' id='navQuestionId' value='0'>
    <input type='hidden' id='inputPage' value='navigationPage'>

</div>