<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
<style>{{mraOutputs.mraCss}}</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js' integrity='sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=' crossorigin='anonymous'></script>

<div id="docent">
<header id="primaryheader">
<nav class="navbar navbar-default">
  <div class="container">
  <div class="topWrap">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>

      </button>
     <a class="navbar-brand" href="/"><img src="../images/icons/docent-logo-f-n-l-1.svg" alt="docent" ></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown hidden-xs">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-show='"{{mraOutputs.outputPage}}"!="startPage" || {{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onmouseover="if (typeof(updateActionPersonWithCurrent) == 'function') {updateActionPersonWithCurrent();}">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href onclick='$("#functionToCall").val("getStartPage")' ng-show='"{{mraOutputs.outputPage}}"!="startPage"' ng-click='run()'>Start</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-show='"{{mraOutputs.outputPage}}"!="startPage"' ng-click='run()'>Continue</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getDashboardPage")' ng-click='run()'>Dashboard</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNavigationPage")' ng-click='run()'>Navigate</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getMmpPage")' ng-click='run()'>Action Items</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getSkippedPage")'>Skipped Questions</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNotApplicablePage")' ng-click='run()'>N/A Questions</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getReviewPage")' ng-click='run()'>Review</a></li>
            {{#if mraOutputs.isRunningInElectron}}<li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("saveAssessment")' ng-click='run()'>Save</a></li>{{/if}}
          </ul>
        </li>
        <li class="dropdown hidden-xs">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href onclick='$("#functionToCall").val("getCriteriaPage")' ng-click='run()'>Criteria</a></li>
            <li><a href onclick='$("#functionToCall").val("getDefinitionsPage")' ng-click='run()'>Definitions</a></li>
            <li><a href onclick='$("#functionToCall").val("getAcronymsPage")' ng-click='run()'>Acronyms</a></li>
            <li><a href onclick='$("#functionToCall").val("getHelpPage")' ng-click='run()'>Help</a></li>
          </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav visible-xs">


                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getDashboardPage")' ng-click='run()'>Dashboard</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNavigationPage")' ng-click='run()'>Navigate</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getMmpPage")' ng-click='run()'>Action Items</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getSkippedPage")'>Skipped Questions</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNotApplicablePage")' ng-click='run()'>N/A Questions</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getReviewPage")' ng-click='run()'>Review</a></li>
                        {{#if mraOutputs.isRunningInElectron}}<li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("saveAssessment")' ng-click='run()'>Save</a></li>{{/if}}

                        <li><a href onclick='$("#functionToCall").val("getCriteriaPage")' ng-click='run()'>Criteria</a></li>
                        <li><a href onclick='$("#functionToCall").val("getDefinitionsPage")' ng-click='run()'>Definitions</a></li>
                        <li><a href onclick='$("#functionToCall").val("getAcronymsPage")' ng-click='run()'>Acronyms</a></li>
                        <li><a href onclick='$("#functionToCall").val("getHelpPage")' ng-click='run()'>Help</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
  <input type='hidden' id='functionToCall' value='getStartPage'/>
  <input type='hidden' id='dmcProjectId' value='\{{projectData.id}}' />
  {{#if mraOutputs.outputPage}}
    <span ng-if='"{{mraOutputs.outputPage}}"!="startPage"'><input type='hidden' id='inAssessmentPath' value='{{mraOutputs.outAssessmentPath}}'/></span>
  {{/if}}
</nav>
</header>
