{{#if mraOutputs.isRunningInElectron}}

{{else}}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js' integrity='sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=' crossorigin='anonymous'></script>
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Poppins:700" rel="stylesheet">
  <link rel='stylesheet' href='https://dmcmra.s3.amazonaws.com/dev/inputCss.css?AWSAccessKeyId=AKIAJC3XRFBNOJQRODRA&Expires=1529081748&Signature=B7iHhvhSI3i1tzS%2F9L23aCjDDt4%3D'>
  <style>
    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url("https://dmcmra.s3.amazonaws.com/dev/glyphicons-halflings-regular.woff2?AWSAccessKeyId=AKIAJC3XRFBNOJQRODRA&Expires=1529081768&Signature=np95fp7Q3j2M9wm7wotUdwugoYQ%3D") format("woff2")
    }
  </style>
{{/if}}

<div id="docent" style="position: relative;">
<header id="primaryheader">
<nav class="navbar navbar-default">
  <div class="container">
  <div class="topWrap">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>

      </button>

      {{#if mraOutputs.isRunningInElectron}}
        <a class="navbar-brand"><img src="../images/docent-logo-f-n-l-1.png" alt="docent" ></a>
      {{else}}
        <a class="navbar-brand"><img src="https://dmcmra.s3.amazonaws.com/dev/docent-logo-f-n-l-1.svg?AWSAccessKeyId=AKIAJC3XRFBNOJQRODRA&Expires=1529081788&Signature=dbvn6j5xPA30M%2FSELJ%2BnAA%2FjacE%3D" alt="docent" ></a>
      {{/if}}

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown hidden-xs">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onmouseover="if (typeof(updateActionPersonWithCurrent) == 'function') {updateActionPersonWithCurrent();}">Assessment <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href onclick='$("#functionToCall").val("getStartPage")' ng-show='"{{mraOutputs.outputPage}}"!="startPage"' ng-click='run()'>Home</a></li>
            <li><a href onclick='$("#functionToCall").val("startPageImportAssessment")' ng-click='run()'>Open</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-show='"{{mraOutputs.outputPage}}"!="startPage"' ng-click='run()'>Continue</a></li>
            {{#if mraOutputs.isRunningInElectron}}<li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("saveAssessment")' ng-click='run()'>Save</a></li>{{/if}}

            {{#if mraOutputs.isRunningInElectron}}
            {{else}}
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getExportPage")' ng-click='run()'>Export</a></li>
            {{/if}}

            <div ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' class="divider"></div>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getDashboardPage")' ng-click='run()'>Dashboard</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNavigationPage")' ng-click='run()'>Navigate</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getReviewPage")' ng-click='run()'>Review</a></li>

            <div ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' class="divider"></div>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getMmpPage")' ng-click='run()'>Action Items</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getSkippedPage")' ng-click='run()'>Skipped Questions</a></li>
            <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNotApplicablePage")' ng-click='run()'>N/A Questions</a></li>
          </ul>
        </li>
        <li class="dropdown hidden-xs">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href onclick='$("#functionToCall").val("getCriteriaPage")' ng-click='run()'>Criteria</a></li>
            <li><a href onclick='$("#functionToCall").val("getDefinitionsPage")' ng-click='run()'>Definitions</a></li>
            <li><a href onclick='$("#functionToCall").val("getAcronymsPage")' ng-click='run()'>Acronyms</a></li>
            <li><a href onclick='$("#functionToCall").val("getHelpPage")' ng-click='run()'>FAQs</a></li>
          </ul>
        </li>
        </ul>
        <ul class="nav navbar-nav visible-xs">


                        <li><a href onclick='$("#functionToCall").val("getStartPage")' ng-click='run()'>Home</a></li>
                        <li><a href onclick='$("#functionToCall").val("startPageImportAssessment")' ng-click='run()'>Open</a></li>
                        {{#if mraOutputs.isRunningInElectron}}
                        {{else}}
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getExportPage")' ng-click='run()'>Export</a></li>
                        {{/if}}
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-click='run()'>Continue</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getDashboardPage")' ng-click='run()'>Dashboard</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNavigationPage")' ng-click='run()'>Navigate</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getMmpPage")' ng-click='run()'>Action Items</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getSkippedPage")' ng-click='run()'>Skipped Questions</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getNotApplicablePage")' ng-click='run()'>N/A Questions</a></li>
                        <li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("getReviewPage")' ng-click='run()'>Review</a></li>
                        {{#if mraOutputs.isRunningInElectron}}<li><a href ng-show='{{#if mraOutputs.outAssessmentPath}}true{{else}}false{{/if}}' onclick='$("#functionToCall").val("saveAssessment")' ng-click='run()'>Save</a></li>{{/if}}

                        <li><a href onclick='$("#functionToCall").val("getCriteriaPage")' ng-click='run()'>Criteria</a></li>
                        <li><a href onclick='$("#functionToCall").val("getDefinitionsPage")' ng-click='run()'>Definitions</a></li>
                        <li><a href onclick='$("#functionToCall").val("getAcronymsPage")' ng-click='run()'>Acronyms</a></li>
                        <li><a href onclick='$("#functionToCall").val("getHelpPage")' ng-click='run()'>FAQs</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </div>
  <input type='hidden' id='functionToCall' value='getStartPage'/>
  <input type='hidden' id='dmcProjectId' value='\{{projectData.id}}' />
  {{#if mraOutputs.outputPage}}
    <span ng-if='"{{mraOutputs.outputPage}}"!="startPage"'><input type='hidden' id='inAssessmentPath' value='{{mraOutputs.outAssessmentPath}}'/></span>
  {{/if}}
</nav>
</header>
