<div class='container-fluid'>
  <div class="mra_panel">
    <div class="mra_page_title">
      <h2>Help</h2>
      <hr>
    </div>
    {{#each helpMenuItems}}
      <div class='row'>
        <div class='col-xs-12' ng-init="show{{@index}} = false">
          <h4> <a href='' ng-click="show{{@index}} = !show{{@index}}">{{helpTitle}}</a></h4>
          <ul ng-if="show{{@index}}" style="margin-bottom: 20px">
            {{#each helpText}}
              <li>{{{this}}}</li>
            {{/each}}
          </ul>
          {{!-- <p ng-if="show{{@index}}" style="margin: 0px 20px 10px 20px">{{{helpText}}}</p> --}}
        </div>
      </div>
    {{/each}}


    {{!-- <div class='row'>
      <div class='col-xs-12'>
        <b>Start a new assessment</b>
        <p>To start a new assessment, go to the Start page by selecting the 'Start' option from the dropdown Menu.  Then fill out the data fields and click 'Start'.  You will be prompted to choose a location to save your assessment.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <b>Import an Assessment</b>
        <p>To import an assessment, go to the Start page by selecting the 'Start' option from the dropdown Menu.  Then click on the 'Import Assessment' button.  Select the name and location of the desired assessment and hit 'OK'.</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12'>
        <b>Learn about Manufacturing Readiness Levels</b>
        <p>Select MRL Criteria from the MRL dropdown menu.</p>
      </div>
    </div> --}}
  </div>
</div>
<input type='hidden' id='inputPage' value='helpPage'></div>
