<header id="subheader">
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
    <ol class="breadcrumb">
      <li class="active">Help</li>
    </ol>
    {{#if mraOutputs.assessment.targetLevel}}<span class="collapse-link visible-xs xs-expand-link" data-toggle="collapse" data-target="#subheader-collapseable" aria-expanded="false" aria-controls="subheader-collapseable"><span class="glyphicon glyphicon-triangle-bottom"></span></span>{{/if}}
    </div>

    {{#if mraOutputs.assessment.targetLevel}}
      <div class="col-sm-6 hidden-xs">
        <div class="row">
        <div class="col-xs-12 meta">
                  Target MRL: {{mraOutputs.assessment.targetLevel}} <span class="text-divider">|</span>Target Date: {{mraOutputs.assessment.targetDate}}
                </div>
        </div>

      </div>
    {{/if}}
  </div>


  {{#if mraOutputs.assessment.targetLevel}}
    <div class="collapse"  id="subheader-collapseable">
    <div class="row visible-xs">
      <div class="col-xs-12">
          Target MRL: {{mraOutputs.assessment.targetLevel}}<span class="text-divider">|</span>Target Date: {{mraOutputs.assessment.targetDate}}
      </div>
    </div>
    </div>
  {{/if}}

  </div>
</header>


<div class="container" id="mainContent">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-xs-12" style="padding-bottom: 10px;">
      <a class="criteria-controls filter-button collapsed" data-toggle="collapse" data-target="#collapseContact">Feedback</a>
    </div>
  </div>

  <div class="row collapse" id="collapseContact" style="border-top: 1px solid lightgrey; padding-top: 15px; margin: 0px 0px 15px;">
    <div class="col-xs-6">
      <b>Elizabeth Wirrig</b>
      <span style="font-size: .8em;"><br>AFRL/RXMS</span>
      <span style="color: grey;"><br>elizabeth.wirrig.1@us.af.mil</span>
    </div>
    <div class="col-xs-6">
      <b>Digital Manufacturing Commons | DMDII</b>
      <span style="font-size: .8em;"><br>Docent Development Team</span>
      <span style="color: grey;"><br>askDMC@uilabs.org</span>
    </div>
  </div>


  {{#each mraOutputs.helpMenuItems}}
		<div class="faqQuestion">
		<div style="margin-bottom: 10px;" class="collapse-link" data-toggle="collapse" data-target="#help{{@index}}" aria-expanded="false" aria-controls="help{{@index}}">{{helpTitle}}</div>

  		<dl class="collapse" id="help{{@index}}">
        {{#each helpText}}
          <dd style="margin-bottom: 10px;">{{{this}}}</dd>
        {{/each}}
      </dl>

		</div>
  {{/each}}
</div>

<input type='hidden' id='inputPage' value='helpPage'></div>