<div class='container-fluid'>
  <div class="mra_panel">
    <div class="mra_page_title">
      <h2>Help</h2>
    </div>
    {{#each mraOutputs.helpMenuItems}}
      <div class='row'>
        <div class='col-xs-12' ng-init="show{{@index}} = false">
          <h4> <a href='' ng-click="show{{@index}} = !show{{@index}}">{{helpTitle}}</a></h4>
          <ul ng-if="show{{@index}}" style="margin-bottom: 20px">
            {{#each helpText}}
              <li>{{{this}}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<input type='hidden' id='inputPage' value='helpPage'></div>
