<div id='blackLinks'>
  <div class='container-fluid'>
    <div class='mra_panel'>

    <div class="mra_page_title">
      <h2>Navigation</h2>
      <hr>
    </div>

    <div class='row'>
      <div class='col-xs-12'>
        <h3>Click on any thread, sub-thread, level, or question to continue the questionnaire at that point.</h3>
      </div>
      <div class='col-xs-12'>
        <ul>
          {{#each mraOutputs.navigation}}
            <a href ng-click='expandThread_{{threadId}} = !expandThread_{{threadId}}'>
              <div class='mra_arrow_right' ng-show='!expandThread_{{threadId}}'></div>
              <div class='mra_arrow_down' ng-show='expandThread_{{threadId}}'></div>
            </a>
            <a href ng-if='{{subThreads.length}}>0' onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navThreadId").val({{threadId}})' ng-click='run()'>{{name}}</a>
              <span ng-if='{{subThreads.length}}==0'>{{name}}</span>
              <ul ng-show='expandThread_{{threadId}}'>
                {{#each subThreads}}
                  <a href ng-click='expandSubThread_{{subThreadId}} = !expandSubThread_{{subThreadId}}'>
                    <div class='mra_arrow_right' ng-show='!expandSubThread_{{subThreadId}}&&{{subThreadLevels.length}}>0'></div>
                    <div class='mra_arrow_down' ng-show='expandSubThread_{{subThreadId}}&&{{subThreadLevels.length}}>0'></div>
                  </a>
                  <a href ng-if='{{subThreadLevels.length}}>0' onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navSubThreadId").val({{subThreadId}})' ng-click='run()'>{{name}}</a>
                  <span ng-if='{{subThreadLevels.length}}==0'>{{name}}</span>
                  <ul ng-show='expandSubThread_{{subThreadId}}'>
                    {{#each subThreadLevels}}
                      <a href ng-click='expandSubThreadLevel_{{subThreadLevelId}} = !expandSubThreadLevel_{{subThreadLevelId}}'>
                        <div class='mra_arrow_right' ng-show='!expandSubThreadLevel_{{subThreadLevelId}}&&{{questions.length}}>0'></div>
                        <div class='mra_arrow_down' ng-show='expandSubThreadLevel_{{subThreadLevelId}}||{{questions.length}}==0'></div>
                      </a>
                      <a href ng-if='{{questions.length}}>0' onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navSubThreadLevelId").val({{subThreadLevelId}})' ng-click='run()'>{{mrlLevel}}</a>
                      <span ng-if='{{questions.length}}==0'>{{mrlLevel}}</span>
                      <ul ng-show='expandSubThreadLevel_{{subThreadLevelId}}&&{{questions.length}}>0'>
                        {{#each questions}}
                          <a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a><br>
                        {{/each}}
                      </ul>
                      <br>
                    {{/each}}
                  </ul>
                  <br>
                {{/each}}
              </ul>
              <br>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    </div>
    <input type='hidden' id='navThreadId' value='0'>
    <input type='hidden' id='navSubThreadId' value='0'>
    <input type='hidden' id='navSubThreadLevelId' value='0'>
    <input type='hidden' id='navQuestionId' value='0'>
    <input type='hidden' id='inputPage' value='navigationPage'>
</div>
