<div class="container" id="mainContent">

    <div class="row">
        <div class="col-md-8">
            <div class="question-header">
                <h4>MRL: 6</h4>
                <h1>{{{mraOutputs.question.questionText}}}</h1>
                <span class="collapse-link" data-toggle="collapse" data-target="#question-explanation" aria-expanded="false" aria-controls="question-explanation">Show Explanation</span>
                <p class="collapse" id="question-explanation">{{{mraOutputs.question.helpText}}}</p>

            </div>


            <form>
                <div class="form-group">
                    <label for="answerValue">Answer</label>
                    <select class="form-control" id="answerValue">
                      <option value='0'>Select...</option>
                      <option value='1'>Yes</option>
                      <option value='2'>No</option>
                      <option value='3'>Not Applicable</option>
					          </select>
                </div>
                <div class="form-group">
                    <label for="evidence">Objective Evidence</label>
                    <textarea class="form-control" id="evidence" rows="5">{{#if mraOutputs.answerInfo.evidence}}{{mraOutputs.answerInfo.evidence}}{{/if}}</textarea>
                </div>

                <hr/>

                <div class="form-group">
                    <label for="assumptions">Assumptions</label>
                    <textarea class="form-control" id="assumptions" rows="5" placeholder="Enter any assumptions here..."></textarea>
                </div>

                <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" id="notes" rows="5" placeholder="Enter any notes here..."></textarea>
                </div>

            </form>
            <div class="attachments">
                <dl class="attachments-list">
                    <dt>Attachments</dt>
                    <dd><a href="#">Filename.pdf</a><span class="attachment-remove"></span></dd>
                    <dd><a href="#">Filename.pdf</a><span class="attachment-remove"></span></dd>
                    <dd><a href="#">Filename.pdf</a><span class="attachment-remove"></span></dd>
                    <dd><a href="#">Filename.pdf</a><span class="attachment-remove"></span></dd>
                </dl>
                <span class="btn btn-default">Attach File</span>

            </div>
        </div>



        <div class="col-md-3 col-md-offset-1">
            <div class="navigation-controls">
                <div class="btn btn-primary"> <span class="glyphicon glyphicon-triangle-left"></span>Previous</div>
                <div class="btn btn-primary" ng-show='!(selectOption==1 || selectOption==2 || selectOption==3)' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-click='run()'>Skip<span class="glyphicon glyphicon-triangle-right"></div>
                <div class="btn btn-primary" ng-show='(selectOption==1 || selectOption==2 || selectOption==3)' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-click='run()'>Next<span class="glyphicon glyphicon-triangle-right"></div>

			</span>
                </div>

                <input type='hidden' id='actionPerson' value='{{mraOutputs.answerInfo.actionPersonFormatted}}'/>
                <input type='hidden' id='attachmentId' value=''/>
                <input type='hidden' id='questionId' value='{{mraOutputs.question.questionId}}'>
                <input type='hidden' id='inputPage' value='questionnairePage'>

            </div>
