<header id="subheader" class="has-progress">
		<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<ol class="breadcrumb">
			  <li><a href="javascript:void(0)" href onclick='$("#functionToCall").val("getNavigationPage")' ng-click='run()'>{{mraOutputs.question.threadName}}</a></li>
			  <li class="active">{{mraOutputs.question.subThreadName}}</li>
			</ol>
			{{#if mraOutputs.assessment.targetLevel}}<span class="collapse-link visible-xs xs-expand-link" data-toggle="collapse" data-target="#subheader-collapseable" aria-expanded="false" aria-controls="subheader-collapseable"><span class="glyphicon glyphicon-triangle-bottom"></span></span>{{/if}}
			</div>
			<div class="col-sm-6 hidden-xs">
				<div class="row">
				<div class="col-xs-12 meta">
					Target MRL: {{mraOutputs.assessment.targetLevel}}<span class="text-divider">|</span>Target Date: {{mraOutputs.assessment.targetDate}}
				</div>
				</div>
				<div class="row">
				<div class="col-xs-12 meta">
					<span class="collapse-link" data-toggle="collapse" data-target="#subheader-collapseable" aria-expanded="false" aria-controls="subheader-collapseable">Show Assessment Scope</span>
				</div>
				</div>
			</div>
		</div>




		<div class="collapse"  id="subheader-collapseable">
		<div class="row visible-xs">
			<div class="col-xs-12">
			Target MRL: {{mraOutputs.assessment.targetLevel}}<span class="text-divider">|</span>Target Date: {{mraOutputs.assessment.targetDate}}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">

			<p>{{mraOutputs.assessment.scope}}</p>
			</div>
		</div>
		</div>

		</div>
	</header>



<div class="container" id="mainContent">

    <div class="row">
        <div class="col-md-8">
            <div class="question-header">
                <h4>MRL for this question: {{mraOutputs.question.mrlLevel}}</h4>
                <h1>{{{mraOutputs.question.questionText}}}</h1>
                <span class="collapse-link" data-toggle="collapse" data-target="#question-explanation" aria-expanded="false" aria-controls="question-explanation">Show Explanation</span>
                <p class="collapse" id="question-explanation">{{{mraOutputs.question.helpText}}}</p>

            </div>


            <form>
                <div class="form-group">
                    <label for="answerValue">Answer</label>
                    <select class="form-control" id="answerValue" ng-model='selectOption' ng-init='selectOption={{#if mraOutputs.answerInfo.answer}}"{{mraOutputs.answerInfo.answer}}"{{else}}"0"{{/if}}'>
                      <option value='0'>Select...</option>
                      <option value='1'>Yes</option>
                      <option value='2'>No</option>
                      <option value='3'>Not Applicable</option>
					          </select>
                </div>

                <div ng-switch='selectOption'>

                    <div class="form-group" ng-switch-when='1'>
                        <label for="evidence">Objective Evidence</label>
                        <textarea class="form-control" id="evidence" rows="5" placeholder='Enter objective evidence here...'>{{#if mraOutputs.answerInfo.evidence}}{{mraOutputs.answerInfo.evidence}}{{/if}}</textarea>
                    </div>

                    <div class="mrl_actionPersons" ng-switch-when='2' ng-init='mrl_actionPersonArray=["0"];mrl_numActionPerson=1'>
                        <h3 class="section-heading">Action Plan</h3>

                        <div class="row">
                          <div class="col-md-6">
                            <button class="addButton" ng-click='mrl_actionPersonArray.push(mrl_numActionPerson);mrl_numActionPerson=mrl_numActionPerson+1'>
															<span class="glyphicon glyphicon-plus-sign"></span>Add Action Person</button>
                          </div>


                          <div class="col-md-6">
                            <button class="removeButton" ng-click='mrl_actionPersonArray.splice(-1);mrl_numActionPerson=mrl_numActionPerson-1'>
															<span class="glyphicon glyphicon-minus-sign"></span>Remove</button>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-md-8">
                              <div class="form-group">
                                  <label>Who</label>
                                  <!-- Loop for existing team members -->
                                  {{#each mraOutputs.answerInfo.actionPerson}}
                                    <input style="margin-bottom: 5px;" type="text" class="form-control mrl_actionPersonName" name="member[]" value='{{this}}'/>
                                  {{/each}}
                                  <!-- Loop for newly added team members -->
                                  <div ng-repeat='x in mrl_actionPersonArray'>
                                    <input style="margin-bottom: 5px;" type="text" class="form-control mrl_actionPersonName" name="member[]"/>
                                  </div>
                              </div>
                          </div>



                          <div class="col-md-4">
                              <label for="answer-evidence">When</label>
                              <div class="form-group">
                                  <input type="date" class="form-control" id='completionDate' {{#if mraOutputs.answerInfo.completionDate}} value="{{mraOutputs.answerInfo.completionDate}}" {{/if}}>

                              </div>
                          </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-12">
                                <label for="answer-evidence">Risk</label>
                                <div class="form-group">

                                    <div class="checkbox-inline  ">
                                        <label>
                    					  	      <input type="checkbox" id='technicalRisk' onclick='$(this).attr("value", this.checked ? 1 : 0)' {{#if mraOutputs.answerInfo.technicalRisk}}checked{{/if}} {{#if mraOutputs.answerInfo.technicalRisk}}value='1'{{else}}value='0'{{/if}}> Technical
                    					  	    </label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
                    					  	        <input type="checkbox" id='costRisk' onclick='$(this).attr("value", this.checked ? 1 : 0)' {{#if mraOutputs.answerInfo.costRisk}}checked{{/if}} {{#if mraOutputs.answerInfo.costRisk}}value='1'{{else}}value='0'{{/if}}> Cost
                    					  	      </label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
                    					  	          <input type="checkbox" id='scheduleRisk' onclick='$(this).attr("value", this.checked ? 1 : 0)' {{#if mraOutputs.answerInfo.scheduleRisk}}checked{{/if}} {{#if mraOutputs.answerInfo.scheduleRisk}}value='1'{{else}}value='0'{{/if}}> Schedule
                    					  	        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="answer-evidence">What</label>
                            <textarea class="form-control" rows="5" id='whatAction' placeholder='What needs to be done to meet this objective?'>{{#if mraOutputs.answerInfo.whatAction}}{{mraOutputs.answerInfo.whatAction}}{{/if}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="answer-evidence">Reason</label>
                            <textarea class="form-control" rows="5" id='reason' placeholder='Reason that criteria is not met'>{{#if mraOutputs.answerInfo.reason}}{{mraOutputs.answerInfo.reason}}{{/if}}</textarea>
                        </div>
                    </div>

                    <div ng-switch-when='3'>
                        <label for="evidence">Documentation</label>
                        <textarea class="form-control" id="documentation" rows="5" placeholder='Document why this question is not applicable...'>{{#if mraOutputs.answerInfo.documentation}}{{mraOutputs.answerInfo.documentation}}{{/if}}</textarea>
                    </div>

                    <hr/>

                    <!-- Always have these two -->
                    <div class="form-group">
                        <label for="assumptions">Assumptions</label>
                        <textarea class="form-control" rows="5" placeholder="Enter any assumptions here..." id='assumptions' placeholder='Enter any assumptions here...'>{{#if mraOutputs.answerInfo.assumptions}}{{mraOutputs.answerInfo.assumptions}}{{/if}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" rows="5" placeholder='Enter notes here...'>{{#if mraOutputs.answerInfo.notes}}{{mraOutputs.answerInfo.notes}}{{/if}}</textarea>
                    </div>
                </div>

            </form>

						<div class="attachments">
              {{#if mraOutputs.isRunningInElectron}}
								<dl class="attachments-list">
									{{#if mraOutputs.answerInfo.attachments}}
									<dt>Attachments</dt>
									{{/if}}
									{{#each mraOutputs.answerInfo.attachments}}
									<dd><a href="javascript:void(0)" onclick='$("#functionToCall").val("downloadAttachment");$("#attachmentId").val("{{id}}")' ng-click='run()'>{{attachmentName}}</a><span class="attachment-remove" onclick='$("#functionToCall").val("deleteAttachment");$("#attachmentId").val("{{id}}")'
										ng-click='run()'></span></dd>
										{{/each}}
								</dl>
                <span class="btn btn-default" onclick='$("#functionToCall").val("addAttachment")' ng-click='run()'>Attach File</span>

							{{else}}
								<dl class="attachments-list">
									<dt>Attachments</dt>
									{{#each mraOutputs.answerInfo.attachments}}
										<dd><a ng-click="downloadAppAttachment({{dmcId}})">{{attachmentName}}</a><span class="attachment-remove" onclick='$("#functionToCall").val("deleteAttachment");$("#attachmentId").val("{{id}}")' ng-click='run()'></span></dd>
									{{/each}}
								</dl>

								<!-- <input type='hidden' id='attachedFileList' ng-model='selectOption' ng-init='selectOption={{#if mraOutputs.answerInfo.attachments}}"{{mraOutputs.answerInfo.attachments}}"{{else}}"[]"{{/if}}'/> -->
								<input type='hidden' id='attachedFileList' value='[]'/>
								<span class="btn btn-default" onclick='$("#functionToCall").val("addAttachment");' ng-click="uploadAppFile()">Attach File</span>

              {{/if}}
            </div>

        </div>

        <div class="col-md-3 col-md-offset-1">
            <div class="navigation-controls">
                <div class="btn btn-primary" onclick='$("#functionToCall").val("getPreviousQuestionnairePage")' ng-click='run()'> <span class="glyphicon glyphicon-triangle-left"></span>Previous</div>
                <div class="btn btn-primary" ng-show='!(selectOption==1 || selectOption==2 || selectOption==3)' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-click='run()'>Skip<span class="glyphicon glyphicon-triangle-right"></div>
                <div class="btn btn-primary" ng-show='(selectOption==1 || selectOption==2 || selectOption==3)' onclick='$("#functionToCall").val("getNextQuestionnairePage")' ng-click='run()'>Next<span class="glyphicon glyphicon-triangle-right"></div></span>
            </div>
        </div>


        <input type='hidden' id='actionPerson' value='{{mraOutputs.answerInfo.actionPersonFormatted}}' />
        <input type='hidden' id='attachmentId' value=''/>
        <input type='hidden' id='questionId' value='{{mraOutputs.question.questionId}}'>
        <input type='hidden' id='inputPage' value='questionnairePage'>

  <script type="text/javascript">
      function updateActionPersonWithCurrent() {

          var actionPersonList = $(".mrl_actionPersonName").map(function(x) {
              return $(".mrl_actionPersonName")[x].value;
          }).get();

          actionPersonList = JSON.stringify(actionPersonList);

          $("#actionPerson").val(actionPersonList);
      }

      $(document).ready(function() {

          document.onkeyup = function() {
            updateActionPersonWithCurrent();
          };

          document.onclick = function() {
            updateActionPersonWithCurrent();
          };

          updateActionPersonWithCurrent();
      });
  </script>
