<div class="container" id="mainContent">
	<a class="export" href="#"><span class="glyphicon glyphicon-export"></span>Export</a>

		<p>{{assessment.scope}}</p>


	<dl class="inline-list">
	<dt>Target MRL:</dt><dd>{{mraOutputs.assessment.targetLevel}}</dd>
	<dt>Target Date:</dt> <dd>{{mraOutputs.assessment.targetDate}}</dd>
	<dt>Location: </dt><dd>{{mraOutputs.assessment.location}}</dd>
	<dt>Team Members</dt>
    {{#each mraOutputs.assessment.teamMembers}}
      <dd>{{name}} - {{role}}</dd>
    {{/each}}
	</dl>

  {{#each mraOutputs.reviewInfo}}

  <!-- SKIPPED -->
	<div class="review-block" ng-if='{{answer}}==0'>
    <h2><a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a></h2>
		<div class="status-skipped">Skipped</div>
		<dl>
			<dt>Assumptions:</dt>
			<dd>{{assumptions}}</dd>
			<dt>Notes:</dt><dd>{{notes}}</dd>
			<dt>Attachements:</dt>
      {{#each attachments}}
        <dd><a href="javascript:void(0)" onclick='$("#functionToCall").val("downloadAttachment");$("#attachmentId").val("{{id}}")' ng-click='run()'>Operaiton-inspection-Q2_2017.pdf</a></dd>
      {{/each}}
	</div>

  <!-- NO -->
	<div class="review-block" ng-if='{{answer}}==2'>
    <h2><a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a></h2>
		<div class="status-no">No</div>
	</div>

  <!-- YES -->
	<div class="review-block" ng-if='{{answer}}==1'>
    <h2><a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a></h2>
		<div class="status-yes">Yes</div>
		<dl>
			<dt>Object Evidence:</dt>
			<dd>{{evidence}}</dd>
		</dl>
	</div>

  <!--N/A  -->
	<div class="review-block" ng-if='{{answer}}==3'>
    <h2><a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a></h2>
		<div class="status-na">Not Applicable</div>
	</div>

  {{/each}}


	</div>
