<div class='container-fluid'>
<div class="mra_panel">
    <div class="mra_page_title">
      <h2>Review</h2>
      <hr>
    </div>
    <div class='row well' style='margin:10px;'>
      <div class='row'>
        <div class='col-sm-9'>
          {{assessment.scope}}
        </div>
        <div id="csvExportDiv" class='col-sm-3'>
          <span style="display: none;" id="reviewCSVString">{{mraOutputs.answersCSV}}</span>
          <button id="exportCSV" class='btn btn-primary pull-right' style='margin:10px'>Export</button>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-2'>
          <b>Target Level</b><br>
          {{mraOutputs.assessment.targetLevel}}
        </div>
        <div class='col-md-2'>
          <b>Target Date</b><br>
          {{mraOutputs.assessment.targetDate}}
        </div>
        <div class='col-md-2'>
          <b>Location</b><br>
          {{mraOutputs.assessment.location}}
        </div>
        <div class='col-md-6'>
          <b>Team Members</b><br>
          {{#each mraOutputs.assessment.teamMembers}}
            {{name}} - {{role}}<br>
          {{/each}}
        </div>
      </div>
    </div>
    <hr>
    {{#each mraOutputs.reviewInfo}}
      <div class='row well' style='margin:10px;'>
        <div class='col-xs-12'>
          <div class='row'>
            <h4><a href onclick='$("#functionToCall").val("getQuestionnairePageFromNavigation");$("#navQuestionId").val({{questionId}})' ng-click='run()'>{{questionText}}</a>
              <span class='label label-success' ng-if='{{answer}}==1'><b>Yes</b></span>
              <span class='label label-danger' ng-if='{{answer}}==2'><b>No</b></span>
              <span class='label label-default' ng-if='{{answer}}==3'><b>Not Applicable</b></span>
              <span class='label label-default' ng-if='{{answer}}==0'><b>Skipped</b></span>
            </h4>
          </div>
          {{#if evidence}}
            <div class='row' ng-if='{{answer}}==1'>
              <b>Objective Evidence: </b><p>{{evidence}}</p>
            </div>
          {{/if}}
          <div class='row' ng-if='{{answer}}==2'>
            <p ng-show='"{{costRisk}}"=="1"'><b>Cost Risk</b></p>
            <p ng-show='"{{scheduleRisk}}"=="1"'><b>Schedule Risk</b></p>
            <p ng-show='"{{technicalRisk}}"=="1"'><b>Technical Risk</b></p>
            {{#if completionDate}}
              <b>Completion Date</b>
              <ul>
                <li style='list-style-type:none'>{{completionDate}}</li>
              </ul>
              {{/if}}
              {{#if actionPerson}}
                <b>Team Members</b>
                <ul>
                  {{#each actionPerson}}
                    <li style='list-style-type:none'>{{name}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            {{#if reason}}
              <b>Reason: </b><p>{{reason}}</p>
            {{/if}}
            {{#if whatAction}}
              <b>Action: </b><p>{{{whatAction}}}</p>
            {{/if}}
          </div>
          {{#if documentation}}
            <div class='row' ng-if='{{answer}}==3'>
              <b>Documentation: </b><p>{{documentation}}</p>
            </div>
          {{/if}}
          <div class='row'>
            {{#if assumptions}}
              <b>Assumptions: </b><p>{{assumptions}}</p>
            {{/if}}
            {{#if notes}}
              <b>Notes: </b><p>{{notes}}</p>
            {{/if}}
          </div>
          {{#each attachments}}
            <div class='row'>
                <button style="height: 32px;" class='btn btn-success btn-sm mra-btn-circle' onclick='$("#functionToCall").val("downloadAttachment");$("#attachmentId").val("{{id}}")' ng-click='run()' style='margin-top:10px'>
                  &#11015;
                </button>
                {{attachmentName}}
            </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  <input type='hidden' id='navQuestionId' value='0'>
  <input type='hidden' id='inputPage' value='reviewPage'>
  <input type='hidden' id='attachmentId' value=''/>
</div>

<script>
  $( document ).ready(function() {
    var exportButton = document.getElementById('exportCSV');
    exportButton.addEventListener('click', function() {
      downloadCSV();
    });
  });

  function downloadCSV() {
    var csv = generateCSVString();

    var hiddenElement = document.createElement('a');
    hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
    hiddenElement.target = '_blank';
    hiddenElement.download = 'MRA_review.csv';
    hiddenElement.style.display = 'none';
    document.querySelector('#csvExportDiv').appendChild(hiddenElement);
    hiddenElement.click();
  }

  function generateCSVString() {
    var csv = (document.getElementById('reviewCSVString')).textContent;

    csv = JSON.parse(csv);

    for (var i=0; i < csv.length; i++) {
      csv[i] = csv[i].join(',');
    }

    csv = csv.join('');

    return csv;
  }

</script>
